@model IEnumerable<W24TP.Models.Reponse>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.RepText)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.CreationDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.IsActive)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.AspNetUser.Email)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Message.MsgTitle)</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@Html.DisplayFor(modelItem => item.RepText)</td>
                <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                <td>@Html.DisplayFor(modelItem => item.AspNetUser.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Message.MsgTitle)</td>
                <td>
                    <a href="/Reponses/Edit/@item.RepID"><i class="icon ion-md-create"></i></a>
                    <a href="/Reponses/Details/@item.RepID"><i class="icon ion-md-clipboard"></i></a>
                    <a href="/Reponses/Delete/@item.RepID"><i class="icon ion-md-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>
