@model W24TP.Models.Message

    @{
        ViewBag.Title = "Details";
    }


    <div>
        <!--<h4>Message</h4>-->
        <div class="card-header">
            <a class="btn btn-secondary" href="/Messages/Edit/@(Model.MsgID)" role="button" style="float:right;border-radius:15px;">
                <i class="icon ion-md-create"></i>
            </a>
            <h2>@Html.DisplayFor(model => model.MsgTitle)</h2>
            <h6 class="text-muted card-subtitle">
                @W24TP.Helpers.PrettyDate.Print(Model.CreationDate)
            </h6>
            
            
        </div>
        <dl class="dl-horizontal card">
            <dd>
                @Html.DisplayFor(model => model.MsgText)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.View)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.View)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MsgID }) |
        <a href="/@ViewBag.OldUrl">Back to list</a>
    </p>
