@using Microsoft.AspNet.Identity
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@model W24TP.Controllers.PostDisplay
@{
    ViewBag.Title = "Details";
}

<p><a href="/@ViewBag.OldUrl">Back to list</a></p>

<div class="card border-primary">
    <div class="card-header clearfix">
        @if (User.Identity.GetUserId() == Model.UserID || User.IsInRole("Admin"))
        {
            <a class="btn btn-secondary float-lg-right" href="/Messages/Edit/@(Model.MsgID)" role="button">
                <i class="icon ion-md-create"></i>
            </a>
        }
        <div class="float-lg-left">
            <h2>@Model.MsgTitle</h2>
            <h6 class="text-muted card-subtitle">
                @W24TP.Helpers.PrettyDate.Print(Model.CreationDate) | By
                @Html.ActionLink(Model.User, "Details", "Users", new
                {
                    id = Model.UserID
                }, null) |
                @Html.ActionLink(Model.CategoryName, "Details", "Categories", new
                {
                    id = Model.CatID
                }, null)
            </h6>
        </div>
    </div>

    <div class="card-body">
        @Html.Raw(Model.MsgText)
    </div>

    <div class="card-footer text-muted">
        Viewed @Model.Views times | IsActive = @Model.IsActive
    </div>
</div>

@Html.PagedListPager(Model.RepliesList, page => Url.Action("Details", new
{
    id = Model.MsgID, path = ViewBag.OldUrl, page
}))

@foreach (var item in Model.RepliesList)
{
    <div class="card border-info" style="margin-top: 8px;">
        <div class="card-body">
            @Html.Raw(item.RepText)
        </div>
        <div class="card-footer text-muted">
            @W24TP.Helpers.PrettyDate.Print(item.CreationDate) by <span class="font-italic">@item.AspNetUser.UserName</span>
        </div>
    </div>
}

@Html.PagedListPager(Model.RepliesList, page => Url.Action("Details", new { id = Model.MsgID, path = ViewBag.OldUrl, page }))

@if (Request.IsAuthenticated)
{
    <form method="post" action="/Reponses/Create/@Model.MsgID?path=@ViewBag.OldUrl">
        @Html.AntiForgeryToken()
        <div class="card border-success" style="margin-top:8px">
            <div class="card-header clearfix" style="padding: 6px 20px">
                <p class="text-muted float-lg-left" style="margin: 0">Leave a Reply</p>
                <button type="submit" class="btn btn-sm btn-success float-lg-right">Send</button>
            </div>
            <div class="card-body" style="padding: 8px">
                <textarea name="reply"></textarea>
            </div>
        </div>
    </form>
}
else
{
    <div class="card border-danger" style="margin-top:30px">
        <div class="card-body">
            <p class="card-text">
                @Html.ActionLink("Log in", "Login", "Account") or
                @Html.ActionLink("create account", "Register", "Account") to reply
            </p>
        </div>
    </div>
}
