@model W24TP.Controllers.PostDisplay

    @{
        ViewBag.Title = "Details";
    }


    <div>
        <!--<h4>Message</h4>-->
        <div class="card-header">
            <a class="btn btn-secondary" href="/Messages/Edit/@(Model.MsgID)" role="button" style="float:right;border-radius:15px;">
                <i class="icon ion-md-create"></i>
            </a>
            <h2>@Model.MsgTitle</h2>
            <h6 class="text-muted card-subtitle">
                @W24TP.Helpers.PrettyDate.Print(Model.CreationDate) | By @Model.User | @Html.ActionLink(Model.CategoryName, "Details", "Categories", new { id = Model.CatID })
            </h6>
            
            
        </div>
        <dl class="dl-horizontal card">
            <dd>
                @Model.MsgText
            </dd>

            <dd>
                Views : @Model.Views
            </dd>

            <dd>
                IsActive : @Model.IsActive
            </dd>

            <dd>
                CategoryName : @Model.CategoryName
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MsgID }) |
        <a href="/@ViewBag.OldUrl">Back to list</a>
    </p>
