@model W24TP.Controllers.CategoryDisplay

@{
    ViewBag.Title = "Details";
}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-header">@Model.CategoryName</div>
            <div class="card-footer text-muted" style="font-size: 1rem; padding-top: 6px; padding-bottom: 6px">
                Created @W24TP.Helpers.PrettyDate.Print(Model.CreationDate) by <span class="font-italic">@Model.User</span>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="padding: 0">
                    <div class="btn-group" style="width: 100%" role="group" aria-label="Category Buttons">
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Add Post", "Create", "Messages", null, new
                                {
                                    @class = "btn btn-light",
                                    style = "border-top-right-radius: 0",
                                    role = "button"
                                })
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit Category", "Edit", new {id = Model.CatID}, new
                                {
                                    @class = "btn btn-light",
                                    style = "border-top-left-radius: 0",
                                    role = "button"
                                })
                        }
                        @Html.ActionLink("Back to List", "Index", null, new
                        {
                            @class = "btn btn-light",
                            style = "border-top-right-radius: 0",
                            role = "button"
                        })
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr/>

@foreach (var msg in Model.Messages)
{
    <div class="row justify-content-center" style="margin-bottom: 1rem">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    @msg.MsgTitle <span class="font-italic text-muted">by @msg.AspNetUser.UserName | @W24TP.Helpers.PrettyDate.Print(msg.CreationDate)</span>
                </div>
                <div class="card-body">
                    @Html.Raw(msg.MsgText)
                </div>
                <div class="card-footer" style="padding: 0">
                    <div class="btn-group" style="width: 100%">
                        @if (msg.IsActive)
                        {
                            <a class="btn btn-success disabled" role="button" href="#" style="border-top-left-radius: 0">Active</a>
                        }
                        else
                        {
                            <a class="btn btn-danger disabled" role="button" href="#" style="border-top-left-radius: 0">Inactive</a>
                        }

                        @Html.ActionLink("View", "Details", "Messages", new
                        {
                            id = msg.MsgID,
                            path = "Categories/Details/" + Model.CatID
                        }, new
                        {
                            @class = "btn btn-info",
                            role = "button",
                            style = "border-top-right-radius: 0"
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
}