@model IEnumerable<W24TP.Controllers.CategoryDisplay>
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>@Html.ActionLink("Create New", "Create")</p>

<div class="row mx-lg-n1">
    @foreach (var item in Model)
    {
        <div class="col-12 px-lg-1" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
            <div class="row justify-content-between">
                <div class="col">
                    <a class="btn btn-outline-info btn-block" href="#" role="button">@item.CategoryName</a>
                </div>
                <div class="col-5 text-right">
                    <div class="btn-group" role="group" aria-label="Info and Edit">
                        <button type="button" class="btn btn-secondary" disabled>
                            By @Html.DisplayFor(modelItem => item.User)
                        </button>
                        <a class="btn btn-secondary" href="/Categories/Edit/@item.CatID" role="button">
                            <i class="icon ion-md-create"></i>
                        </a>
                        <a class="btn btn-secondary" href="/Categories/Details/@item.CatID" role="button">
                            <i class="icon ion-md-clipboard"></i>
                        </a>
                        <a class="btn btn-secondary" href="/Categories/Delete/@item.CatID" role="button">
                            <i class="icon ion-md-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        foreach (var post in item.LastThreePosts)
        {
            <div class="col-sm-4 px-lg-1">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">@post.MsgTitle</h5>
                        <p class="card-text">@post.AspNetUser.UserName</p>
                        <a href="#" class="btn-sm btn-primary">Open</a>
                    </div>
                </div>
            </div>
        }

        @*<div class="col-sm-4 px-lg-1">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Post Title #2</h5>
                        <p class="card-text">Content of the first post in the thread</p>
                        <a href="#" class="btn-sm btn-primary">Open</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 px-lg-1">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Post Title #3</h5>
                        <p class="card-text">Content of the first post in the thread</p>
                        <a href="#" class="btn-sm btn-primary">Open</a>
                    </div>
                </div>
            </div>*@
    }
</div>

@*<table class="table table-sm table-striped table-hover">

    <thead>
        <tr>
            <th scope="col">Name</th>           
            <th scope="col">Creation Date</th>
            <th scope="col">Creator's Username</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr onclick="">
            <td scope="row">@Html.DisplayFor(modelItem => item.CategoryName)</td>
            <td>@W24TP.Helpers.PrettyDate.Print(item.CreationDate)</td>
            <td>@Html.DisplayFor(modelItem => item.User)</td>
            <td>
                <a href="/Categories/Edit/@item.CatID"><i class="icon ion-md-create"></i></a>
                <a href="/Categories/Details/@item.CatID"><i class="icon ion-md-clipboard"></i></a>
                <a href="/Categories/Delete/@item.CatID"><i class="icon ion-md-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>

</table>*@
