@model IEnumerable<W24TP.Models.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table table-sm table-striped table-hover">

    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.IsActive)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.CreationDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.AspNetUser.Email)</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                <td>@Html.DisplayFor(modelItem => item.AspNetUser.Email)</td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.CatID })
                    @Html.ActionLink("Details", "Details", new { id=item.CatID })
                    @Html.ActionLink("Delete", "Delete", new { id=item.CatID })*@
                    <a href="/Categories/Edit/@item.CatID"><i class="icon ion-md-create"></i></a>
                    <a href="/Categories/Details/@item.CatID"><i class="icon ion-md-clipboard"></i></a>
                    <a href="/Categories/Delete/@item.CatID"><i class="icon ion-md-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>
