@model W24TP.Controllers.UserDisplay
@{
    ViewBag.Title = "Details";
}

<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card bg-dark text-white">
            <div class="card-header text-center">
                <h4>@Model.UserName</h4>
            </div>
            <div class="card-subtitle text-muted text-center">
                <p class="card-text m-0">@Model.UserID</p>
            </div>
            <ul class="list-group list-group-flush text-center" style="color: black">
                <li class="list-group-item">Has @Model.NbrSub Subject(s)</li>
                <li class="list-group-item">Has @Model.NbrRep Response(s)</li>
                <li class="list-group-item">Last Active @W24TP.Helpers.PrettyDate.Print(Model.LastDate ?? DateTime.Now)</li>
            </ul>
        </div>
    </div>
</div>
